
html {
    font-size: 16px;
}

.right-nav-list li{
    border-bottom:1px solid #ddd;
    padding-top:10px;
    padding-bottom: 10px;
}

form div.required label.control-label:after {
    content:" *";
    color:red;
    font-weight: bold;
    font-size: 120%;
}



